body{
    background-color: black;
}

h1{
    font-size: 3rem;
}
.poster{
    font-family:"Libre Baskerville", serif;
    color: white;
    width: 50%;
    margin-top: 100px;
    margin-left: 50%;
    text-align: center;
}

.motivational-img{
    width: 100%;
    border: 5px white solid;
}